@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');

.main-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5vh;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

.logo {
    font-family: "Noto Sans Mono";
    color: white;
}

.CTA {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    height: 100%;
}

.CTA button {
    border-color: lightgrey;
    background-color: transparent;
    border: 2;
    height: 100%;
    padding: 30px;
    border-radius: 100px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.logo-navbar img {
    height: 60px;
    width: 60x;
    transition: opacity 0.5s ease; 

}

.role {
    font-size: 40px;
    font-family: "Noto Sans Mono";
}

.button-available-work {
    font-size: 4px;
    font-family: "Noto Sans Mono";
}

.status-dot {
    width: 10px;
    height: 10px;
    background-color: rgba(125, 255, 125, 0.822); 
    border-radius: 50%; 
    margin-right: 20px;  
    box-shadow: 0 0 8px 4px rgba(125, 255, 125, 0.822); 
    transition: box-shadow 0.3s ease; 
}

.select-language {
    all: unset;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 20px;
    font-family: "Noto Sans Mono";
    cursor: pointer;
    padding: 14px;
    border-radius: 100px;
    transition: background-color 1s ease;
    color: white;
  }

  .select-language:hover {
    background-color: grey;
    transition: all 1s ease-in-out;    
}